@page
@model RazorApp.Pages.Student.IndexStudent

<div>
    <h1>Students</h1>
</div><br><br>
<div class="row row-cols-1 row-cols-md-3 g-5">
    @foreach (var student in Model.Students)
    {
        <div class="col">
            <div class="card h-100 shadow-sm border-0">
                <img src="~/images/dev1ce.jpg" class="card-img-top rounded-top" alt="Student">
                <div class="card-body" style="margin-top: 80px;">
                    <h5 class="card-title text-primary fw-bold">@student.FirstName @student.LastName</h5>
                    <p class="card-text text-secondary">
                        Birthdate: @student.BirthDate<br />
                    </p>
                </div>
                <div class="card-footer bg-white border-0 d-flex justify-content-end">
                    <button class="btn btn-outline-primary">More details</button>
                </div>
            </div>
        </div>
    }
</div>